body {
  font-family: "Martel Sans", serif;
}

.grid {
  columns: 1fr;
  display: grid;
  padding: 16px;
  rows: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 3rem 0rem;
  text-wrap: balance;
}

/*  
  css grid container
    display grid
      mobile
        columns 1fr
        auto rows
        padding 16px

      desktop
        padding: 32px

    inner flexbox & children
      mobile gap: 48px
*/

/* Fluid font-sizing
  fallback font size in case browser doesnt support
  clamp rule to declare min, max, and preferred font size
*/

/* Martel Sans: CSS classes */

.martel-sans-extralight {
  font-family: "Martel Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.martel-sans-light {
  font-family: "Martel Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.martel-sans-regular {
  font-family: "Martel Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.martel-sans-semibold {
  font-family: "Martel Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.martel-sans-bold {
  font-family: "Martel Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.martel-sans-extrabold {
  font-family: "Martel Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.martel-sans-black {
  font-family: "Martel Sans", serif;
  font-weight: 900;
  font-style: normal;
}
