html {
  font-size: 16px;
  font-family: "Martel Sans", serif;
}

h1,
h2,
h3,
li {
  margin: 1.5rem 0rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  text-wrap: balance;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-wrap: balance;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-wrap: balance;
}

p {
  font-size: 1.25rem;
}

p:not(:only-child) {
  /* Apply bottom margin if paragraph has siblings. */
  margin-bottom: 1.5rem;
}

li {
  font-size: 1.125rem;
}

.visually-hidden {
  /* From the a11y project: https://www.a11yproject.com/posts/how-to-hide-content/ */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.layout {
  @media screen and (min-width: 1100px) {
    margin-inline: auto;
    max-width: 68.75rem;
    padding: 3rem 0;
    width: 100%;

    display: grid;
    gap: 4rem 6em;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;

    footer {
      height: 50%;
      position: sticky;
      top: 3rem;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card_projects_list {
  .card_project {
    align-items: start;
    margin: 2rem 0;
  }

  @media screen and (min-width: 650px) {
    padding: 0 2rem;
  }
}

.card_project {
  background-color: #5bcefa;
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  h3 {
    font-weight: bold;
  }

  @media screen and (min-width: 650px) {
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    min-height: 300px;
  }

  @media screen and (min-width: 1100px) {
    flex-direction: column;
  }
}

.card_project picture {
  background-color: transparent;

  @media screen and (min-width: 650px) {
    align-self: center;
    flex-basis: 70%;
  }
}

.card_project img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  height: auto;
  width: 100%;

  @media screen and (min-width: 650px) {
    border-radius: 1.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 100%;
  }
}

.card_project_body {
  background-color: #5bcefa;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.button_link {
  border-radius: 5.25rem;
  border: 3px solid black;
  color: black;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  width: fit-content;
}

.card_volunteer_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  @media screen and (min-width: 650px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

.card_volunteer {
  background-color: #5bcefa;
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5rem;

  h3 {
    font-weight: bold;
  }

  li {
    text-decoration: none;
  }

  @media screen and (min-width: 650px) {
    flex-basis: 45%;
    margin: 0;
  }
}

.contact_info_list {
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
}

.social_media_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
